<!DOCTYPE html>
<html lang="en" ng-app="tasksApp">
<head>
	<script type="text/javascript" src="javascripts/angular.v1.2.25.min.js"></script>
	<script type="text/javascript" src="javascripts/new_app.js"></script>
</head>
<body>
	<div ng-controller="TasksController">
		<input type="text" ng-model="item_desc">

		<ul>
			<li ng-repeat="task in all_tasks | filter: item_desc | orderBy:'-description'  | limitTo: 10 ">
			{{task.description | reverse | uppercase}}
			</li>
		</ul>

		<input type="text" ng-model="new_task.description">
		<button ng-click="add_task(new_task)">Add Task</button>
	</div>
</body>
</html>